/* Global Layout Set-up */
* { 
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color: #222;
  background: #f7f5f0;
}
/* Link Styles */
.social a:hover {
  transitions: 4s;
}
a {
  text-decoration: none;
  color: #999;
}
a:hover {
  color: #6633ff;
}



/* Section Styles */

.main-nav {
  width: 100%;
  background: #333;
  min-height: 30px;
  padding: 10px;
  position: fixed;
  text-align: center;
}
.nav {
  display: flex;
  justify-content: space-around;
  font-weight: 700;
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}

.nav .name {
    display: inline-block;
    margin-right: auto;
    color: rgba(255,255,255,.8);
}
.nav li {
  padding: 5px 10px 10px 10px;
}
.nav a {
  transition: all 1s;
}
.nav a:hover {
  color: white
}

header {
  text-align: center;
  background-image: url("images/banner.jpg");
  background-size: cover;
  overflow: hidden;
  padding-top: 60px;
}
header {
  line-height: 1.5;
}
header .profile-image {
  margin-top: 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid white;
  transition: all .5s;
}
header .profile-image:hover {
  transform: scale(1.2) rotate(360deg);
}
.tag {
  
  color: white;
  padding: 10px;
  border-radius: 5px;
  display: table;
  margin: 10px auto;
} 
.location {
 
  color: white;
}
.card {

  margin: 30px;
  padding: 20px 40px 40px;
  max-width: 500px;
  text-align: left;
  background: #fff;
  border-bottom: 4px solid #ccc;
  border-radius: 6px;
  transition: all .5s;
}
.card0 {
  background-image: url("images/rocky1.jpeg") ;
  background-size: cover;
  font-size:  1rem;
  color: rgba(0,0,0,.2);
  overflow: hidden;
  text-decoration: underline overline
}
.card0 p{
  line-height: 2rem;
}
.card0:hover {
  color: #7ec954;
  background-image: none;
  transition: all 1.5s;
  text-decoration: none;
}
.card1:hover {
  background-image: url("images/portland.jpg") ;
  color: #7ec954;
 
  text-decoration: line-through;
  transition: all .5s;
}
.white p{
  color:white;
}
.card:hover {
  border-color: forestgreen;
}

.card1:hover {
  border-color: #0399ff;
}
.card2:hover {
  background-color: #338FD7;
  border-color: forestgreen;
  color: white;
}
.card2 {
  min-width: 80%;
}
.listen{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.img_go{
  min-width: 100%;
  max-width: 100%;
  max-height: 50%;
}

ul.skills {
  padding: 0;
  text-align: center;
}

.skills li {
  border-radius: 6px;
  display: inline-block;
  background: #7ec954;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.skills li:nth-child(odd) {
  background: #0399ff;
}
.listen li:nth-child(odd) {
  background: #338FD7;
}
footer {
  width: 100%;
  min-height: 30px;
  padding: 20px 0 40px 20px;
}

footer .copyright {
  top: -8px;
  font-size: .75em;
}

footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer ul li {
  display: inline-block;
}

a.social {
  display: inline-block;
  text-indent: -9999px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  background-size: 30px 30px;
  opacity: .4;
  transition: all .5s;
}
a.twitter {
  background-image: url(images/twitter.svg);
}
a.linkedin {
  background-image: url(images/linkedin.svg);
}
a.github {
  background-image: url(images/github.svg);
}
a.social:hover {
  opacity: 1;
}
.clearfix {
  clear: both;
}
/* Styles for Explorer page */
.go h1{
  padding-top: 60px;
  padding-bottom: 20px;
  background-color: #7ec954;
  color: white;
  margin: 0;
}
.map{
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 30px;
}
.img_go{
  height: 50vh;
  width: 100vw;
  padding-bottom: 20px;
  
  overflow: hidden;

}
span a:hover {
  text-decoration: line-through;
  color: rgba(0,0,0,.8);
}

.listen li {
  border-radius: 6px;
  display: inline-block;
  background: #7ec954;
  color: white;
  padding: 25px 10px;
  margin: 2px;
  text-align: center;
  font-size: 2rem;
}
.listen a{
  color: white;
}
.listen a:hover {
  color: darkgreen;
  transition: all .5s;
}

/* Styles for larger screens */
@media screen and (min-width: 720px) {
  
  .flex {
      display: -ms-flexbox;      /* TWEENER - IE 10 */
      display: flex; 
      max-width: 1200px;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 470px;
  }

  .nav {
    max-width: 1200px;
    padding: 0 30px;
  }


  main {
    padding-top: 20px;
  }

  main p {
    line-height: 1.6em;
  }

  footer p{
    font-size: 1em;
    max-width: 1200px;
    margin: 40px auto;
  }

}

